@import '../../styles/variables';
@import '../../styles/fonts';

// Forest bathing page styles
.forest-bathing-page {
  display: flex;
  flex-direction: column;
  gap: 150px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  @media (max-width: $breakpoint-md) {
    gap: 100px;
  }
}
