// Button styles
@import '../../styles/variables';
@import '../../styles/fonts';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #64603C;
  border-radius: 100px;
  padding: 1.75rem 5.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #64603C;
  background-color: transparent;
  transition: all 0.3s ease;

  @include font-secondary;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: #64603C;
    color: #C5CF98;
    border-color: #64603C;
  }

  &.secondary {
    color: #fff;
    border-color: #fff;

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      background-color: #fff;
      color: #000;
      border-color: #fff;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .btn {
    padding: 1.25rem 2.5rem;
  }
}

@media (max-width: $breakpoint-sm) {
  .btn {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}