@import '@/styles/variables';
@import '@/styles/fonts';

// Experiences page styles
.experiences-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-bottom: 150px;

  @media (max-width: $breakpoint-md) {
    gap: 100px;
    margin-bottom: 100px;
  }
}
