@import '@/styles/variables';
@import '@/styles/fonts';

// Navigation styles
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  transition: all 0.5s ease;

  &.nav-scrolled {
    background: hsla(0, 0%, 100%, 0.8);
    // box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
  }

  &.nav-transparent {
    background: transparent;
  }
}

.nav-container {
  padding: 17px 2rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media (max-width: $breakpoint-lg) {
    padding: 1rem;
  }
}

.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% - 2px));

  @media screen and (max-width: $breakpoint-sm) {
    transform: translateX(calc(-100% - 40px));
    img {
      width: 100px;
      height: 18px;
    }
  }
}

.nav-link-drawer {
  @include text-base;
  transition: color 0.5s ease;
  text-decoration: none;
  position: relative;
  color: #a9a9a9;
  width: fit-content;
  cursor: pointer;

  &.active {
    color: #000;
  }

  // disabled
  &.disabled {
    cursor: not-allowed;
  }

  // donot show after for disabled
  &.disabled::after {
    display: none !important;
  }

  &.disabled:hover {
    opacity: 1;
    color: #a9a9a9;
  }

  &:hover {
    opacity: 0.85;
    color: #000;
  }

  @media (max-width: $breakpoint-sm) {
    @include text-sm;
  }
}

// Hamburger menu (mobile)
.nav-hamburger {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1101;

  @media (max-width: $breakpoint-xl) {
    display: flex;
  }

  &.nav-hamburger-scrolled {
    img {
      filter: invert(1);
    }
  }
}

// Sidebar overlay
.nav-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
  z-index: 1100;
}

// Sidebar
.nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  max-width: 680px;
  height: 100vh;
  background: hsla(0, 0%, 100%, 1);
  backdrop-filter: blur(10px);
  box-shadow: 4px 0 32px rgba(0, 0, 0, 0.18);
  z-index: 1101;
  display: flex;
  flex-direction: column;
  padding: 4rem;

  @media (max-width: $breakpoint-sm) {
    max-width: 100dvw;
    width: 100dvw;
    padding: 2rem;
  }
}

.nav-sidebar-close {
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 1.5rem;
  // padding: 8px;
  // width: 34px;
  // height: 34px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

.nav-sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.nav-sidebar-divider {
  width: 1px;
  height: 100%;
  background: #a9a9a9;
}

.nav-text {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: white;
  cursor: pointer;
  @include font-secondary;

  &.nav-text-scrolled {
    color: #000;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 16px;
    line-height: 20px;
  }
}
