@import '../../../styles/fonts';
@import '../../../styles/variables';

.gallery-detail-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1616px;
  min-height: 100dvh;
  padding: 130px 1.5rem 150px;
  margin: 0 auto;

  @media screen and (max-width: $breakpoint-lg) {
    gap: 40px;
    padding-top: 80px;

    .content {
      flex-direction: column;
      gap: 40px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .slick-dots {
    bottom: 20px;

    li {
      width: 12px;
      height: 12px;
      margin: auto 0;

      button {
        width: 12px;
        height: 12px;
      }

      button::before {
        font-size: 8px !important;
        color: rgb(169 169 169 / 50%) !important;
        opacity: 1 !important;
      }

      &.slick-active {
        button::before {
          color: rgb(169 169 169 / 100%) !important;
          opacity: 1 !important;
        }
      }
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-right: 60px;
    padding-left: 60px;

    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
      gap: 24px;
      padding: 0;
    }

    .info {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 15px;

      @media screen and (max-width: $breakpoint-md) {
        gap: 12px;
      }

      .name {
        font-size: 50px;
        line-height: 104%;
        color: $text-primary;
        letter-spacing: -0.02em;
        white-space: pre-line;

        @include font-primary;

        @media screen and (max-width: $breakpoint-md) {
          font-size: 32px;
          white-space: unset;
        }
      }

      .material {
        @include font-secondary;

        font-size: 18px;
        line-height: 133%;
        color: #353536;
        letter-spacing: 0%;
        white-space: pre-line;

        @media screen and (max-width: $breakpoint-md) {
          font-size: 16px;
        }
      }

      .author {
        margin-top: 38px;
        font-size: 18px;
        line-height: 133%;

        @include font-secondary;

        color: $text-primary;

        @media screen and (max-width: $breakpoint-md) {
          font-size: 16px;
        }
      }
    }

    .description {
      flex: 1.5;

      &__text {
        // @include body-large;
        font-size: 18px;
        line-height: 133%;
        color: #353536;
        white-space: pre-line;

        @include font-secondary;

        @media screen and (max-width: $breakpoint-md) {
          font-size: 16px;
        }
      }

      .read-more-btn {
        position: relative;
        margin-top: 40px;

        @include body-large;
        @include font-secondary;

        color: $text-primary;
        text-decoration: none;
        cursor: pointer;
        background: none;
        border: none;
        transition: color 0.3s;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          content: '';
          background: $text-primary;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover::after {
          transform: scaleX(1);
        }

        &:hover {
          opacity: 0.85;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    padding-right: 16px;
    padding-left: 16px;
  }
}
