@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';

.container {
  background-color: #64603C;
  padding: 150px;
  width: 100dvw;

  
  @media (max-width: $breakpoint-lg) {
    padding: 80px;
  }
  @media (max-width: $breakpoint-md) {
    padding: 50px;
  }

  .content {
    display: flex;
    justify-content: space-between;

    max-width: 1728px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $breakpoint-md) {
      gap: 40px;
      flex-wrap: wrap;
    }
  }

  .block {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .box_description {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .title {
      @include heading-3;
      @include font-tertiary;
      color: $text-inverse;
    }

    .description {
      @include body-large;
      @include font-secondary;
      color: $text-inverse;

      transition: all 0.3s ease;
      text-decoration: none;
      width: fit-content;

      &__link {
        &:hover {
          transform: translateY(-1px);
          text-decoration: underline;
        }
      }
    }

    @media (max-width: $breakpoint-md) {
      gap: 24px;
    }
  }
}