@import '../../../styles/fonts';
@import '../../../styles/variables';

.gallery-detail-container {
  padding: 130px 1.5rem 150px 1.5rem;
  max-width: 1568px;
  margin: 0 auto;

  @media screen and (max-width: $breakpoint-lg) {
    padding-top: 150px;
    gap: 80px;
  }
}