@import '../../styles/variables';
@import '../../styles/fonts';

// Home page styles
.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 150px;

  @media (max-width: $breakpoint-md) {
    gap: 100px;
  }
}